<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        Patback&ensp;<small class="text-muted tagline">by @lstor</small>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-expanded="false">
            <span>
              <img src="http://www.gravatar.com/avatar/d9bcea65c2e1463ec5cd1ed7b0c93ba9?s=20">
            </span>

            &ensp;Logged in as <b>Kenneth (36)</b> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" onClick="notImplemented();">
                <%= glyphicon "cog", label: "Settings" %>
              </a>
            </li>

            <li>
              <a href="#" onClick="notImplemented();">
              <%= glyphicon "off", label: "Log out" %></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
