<h2>Listing metrics</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for metric <- @metrics do %>
    <tr>
      <td><%= metric.name %></td>
      <td><%= metric.description %></td>
      <td><%= metric.type %></td>

      <td class="text-right">
        <%= link "Show", to: metric_path(@conn, :show, metric), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: metric_path(@conn, :edit, metric), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: metric_path(@conn, :delete, metric), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New metric", to: metric_path(@conn, :new), class: "btn btn-primary" %>
