<h2>Show metric</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @metric.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @metric.description %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @metric.type %>
  </li>

</ul>

<%= link "Back", to: metric_path(@conn, :index) %>