<h1>Credits</h1>

<hr>

<section class="container credit-container">
  <div class="row credit credit-row">
    <p class="col-sm-12 col-md-6 credit credit-receiver">
      Lars Storjord
    </p>
    <p class="col-sm-12 col-md-6 credit credit-type">
      Idea<br>
      Programming<br>
      Design<br>
    </p>
  </div>

  <div class="row credit credit-row">
    <p class="col-sm-12 col-md-6 credit credit-receiver">
      GitHub
    </p>
    <p class="col-sm-12 col-md-6 credit credit-type">
      Code Hosting
    </p>
  </div>

  <div class="row credit credit-row">
    <p class="col-sm-12 col-md-6 credit credit-receiver">
      Heroku
    </p>
    <p class="col-sm-12 col-md-6 credit credit-type">
      Runtime Hosting
    </p>
  </div>
  <div class="row credit credit-row">
    <p class="col-sm-12 col-md-6 credit credit-receiver">
      Built Using
    </p>
    <p class="col-sm-12 col-md-6 credit credit-type">
      The Elixir Programming Language<br>
      The Phoenix Framework<br>
      Vim<br>
    </p>
  </div>
</section>
