<%= form_for @changeset, @action, fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Name</label>
    <%= text_input f, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= text_input f, :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Location</label>
    <%= text_input f, :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>From</label>
    <%= datetime_select f, :from, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>To</label>
    <%= datetime_select f, :to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
