<h2>Listing events</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>From</th>
      <th>To</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.from %></td>
      <td><%= event.to %></td>

      <td class="text-right">
        <%= link "Show", to: event_path(@conn, :show, event), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: event_path(@conn, :edit, event), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: event_path(@conn, :delete, event), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New event", to: event_path(@conn, :new), class: "btn btn-primary" %>
