<h2>Show event</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @event.description %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @event.location %>
  </li>

  <li>
    <strong>From:</strong>
    <%= @event.from %>
  </li>

  <li>
    <strong>To:</strong>
    <%= @event.to %>
  </li>

</ul>

<%= link "Back", to: event_path(@conn, :index) %>