<hr>
<div class="container">
  <!-- Metric name and answer -->
  <div class="row metric-answer-row">
    <div class="col-sm-12 col-md-6">
      <h2 class="box-header"><%= @metric.name %></h2>
    </div>

    <div class="col-sm-12 col-md-6">
      <%= feedback_entry @metric.type %>
    </div>
  </div>

  <!-- Description -->
  <div class="row metric-description-row">
    <div class="col-lg-12 metric-description">
      <%= @metric.description %>
    </div>
  </div>
</div>
