<div>
  <h1>Give feedback
    <small class="pull-right">
      <%= link (glyphicon "repeat", label: " Reload"),
         to: "/",
      class: "btn btn-info",
       role: "button" %>
    </small>
  </h1>
</div>

<div class="answer-table">
<%= for metric <- @metrics do %>
  <%= render "answer.html", metric: metric %>
<% end %>
</div>
