<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Less</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Great!</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">More</button>
  </div>
</div>
