<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox"> Great!
      </span>
      <input type="text" placeholder="... or why not?" class="form-control">
    </div>
  </div>
</div>
