<div class="metric-button-group">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Yes</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">&nbsp;No&nbsp;</button>
    </div>
  </div>
</div>
