.answer-table {
    table-layout: fixed;
}

.box-header {
    margin-top: 0;
    margin-bottom: 0;

    // FIXME: Haxx, fix later
    @media(max-width: 991px) {
        margin-bottom: 0.5em;
    }
}

.metric-answer-row {
    margin-top: 3em;
    margin-bottom: 1em;
}

.metric-description-row {
    margin-bottom: 3em;
}

.metric-description {
    font-size: 1.2em;
}

.metric-button-group {
    width: 66%;
}

tr.spacer {
    height: 1em;
}
