body {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    padding-top: 0;
}

section.main {
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    letter-spacing: 1.5px;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

.tagline {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

// Unfuck the bootstrap css
.nav {
    padding: 0;
}

.navbar {
    border-radius: 0 !important;
}

