.credit {
    margin: -1px 0 0 -1px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.38em;
}

.credit-receiver {
    display: table-cell;
    border-collapse: collapse;
    border-right: 1px #ddd solid;

    padding-top: 1.5em;
    padding-bottom: 1.5em;

    text-align: right;
    font-weight: 300;
}

.credit-type {
    display: table-cell;
    border-collapse: collapse;
    border-left: 1px #ddd solid;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
