<%= form_for @changeset, @action, fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>MetricId</label>
    <%= number_input f, :metricId, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Value</label>
    <%= text_input f, :value, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Text</label>
    <%= text_input f, :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
