<h2>Listing answers</h2>

<table class="table">
  <thead>
    <tr>
      <th>MetricId</th>
      <th>Value</th>
      <th>Text</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for answer <- @answers do %>
    <tr>
      <td><%= answer.metricId %></td>
      <td><%= answer.value %></td>
      <td><%= answer.text %></td>

      <td class="text-right">
        <%= link "Show", to: answer_path(@conn, :show, answer), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: answer_path(@conn, :edit, answer), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: answer_path(@conn, :delete, answer), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New answer", to: answer_path(@conn, :new), class: "btn btn-primary" %>
