<h2>Show answer</h2>

<ul>

  <li>
    <strong>MetricId:</strong>
    <%= @answer.metricId %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @answer.value %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @answer.text %>
  </li>

</ul>

<%= link "Back", to: answer_path(@conn, :index) %>